#title{
	font-family: sans-serif;
	color: #0088ff;
	padding-top: 15px;
}
body p{
	width: 100%;
	margin: 0 auto;
}
#result{
	text-align: center;
	background-color: #000000;
}
#result p{
	color: cyan;
}
.suggestions{
	width: contain;
	border-style: solid;
	border-width: 5px;
}

.suggestions:hover{
	background-color: #46f;
}